# Usability Test report

We have conducted a usability test with our participants to observe their behaviors and interactions with our MVP1. Here is a report documenting the key steps of the process.
---
## Step 1: Recruit participants
In this step, we ask one of our friends to participate in the usability test. He was only told about the main purpose of the application, its functionalities, use cases, and features. We didn’t reveal any details about the way to use the interface explicitly to ensure the authenticity hence the usefulness of the participant’s feedback.
## Step 2: Define tasks
In the testing process, we asked the participant to perform 2 tasks:
- Task 1: login as a worker (either janitor or collector), and view their current week’s task assigned by the back officer and check in/check out for that day. After that, we required the tester to send a message to the back officer. Finally, we asked him to log out of the account.
- Task 2: login as a back officer, reply to the message from the previous worker. Then, he had to assign an arbitrary worker to a new task of that week. After that, he navigated to the dashboard to view the information of a random janitor. Finally, he logged out and ended the testing process.
## Step 3: Define the test strategy
Between in-person and remote strategies, we chose to apply the in-person one to make the process more interactive and to observe the participant better.
	
Additionally, we also decided to use the qualitative method, because we focus more on the way users use the app, rather than on the quantitative metrics like time on task, which is less relevant to this system.

## Step 4: Conduct the test
When conducting the 2 tasks of the test, we have documented the interaction and feedback from the tester. In particular:
1. Task 1: 
- The worker has problem in dashboard page, the tester does not know how to change to other page also other context in one page.
- The workers have difficulty in checking in /out.
- The user does not know how to send messages to others because there is not a “send” button in the navigation bar.
2. Task 2:
- The back offices need to deeply understand the information (workers, vehicles, how long they will assign the task) to have good management.
- It is difficult for the back offices to verify whether checking in / out of workers is true or false.

## Step 5: Document feedback from testers
Overall, the tester said that the app is easy to navigate around and perform specific actions. However, there are some small parts needed to be modified to make the app more user-friendly, and we will implement them in the next version.
